<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de Ingreso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
</head>
<header>
    <div class="titulo">
        <h1>Aplicaci&oacute;n del Control de Ingresos</h1>
    </div>
    <div class="menu">
        <nav>
            <ul>
                <li class="sinpunto"><a href="/">Registro Ingreso</a></li>
                <li class="sinpunto"><a href="/salida">Registro Salida</a></li>
                <li class="sinpunto"><a href="/nuevo">Crear Empleado o Proveedor Nuevo</a></li>
                <li class="sinpunto"><a href="/modificar">Modificar Empleado o Proveedor</a></li>
                <li class="sinpunto"><a href="/borrar">Borrar Empleado o Proveedor</a></li>                
                <li class="sinpunto"><a href="/reportes">Reportes</a></li> 
            </ul>
        </nav>
    </div>
</header>