{% include'cabecera.html' %}
<body>
    <center>
        <table cellspacing="100">
            <tr>
                <td>
                    <h2>Crear Empleado Nuevo</h2>
                    <form name="empleado" action="/nuevo/crearempleado" method="post">
                        <ul>
                            <li class="sinpunto">
                                <label for="Nombre_Empleado">Nombre</label>
                                <input type="text" id="Nombre_Empleado" name="Nombre_Empleado">
                            </li>
                        </ul> 
                        <ul>
                            <li class="sinpunto">
                                <label for="Documento_Empleado">Documento</label>
                                <input type="text"id="Documento_Empleado" name="Documento_Empleado">
                            </li>
                        </ul>
                        <ul>
                            <li class="sinpunto">
                                <label for="Area_Empleado">Area</label>
                                <select name="Area_Empleado" id="Area_Empleado">
                                    <option value="mercadeo">mercadeo</option>
                                    <option value="sistemas">sistemas</option>
                                    <option value="produccion">produccion</option>
                                </select>
                            </li>
                        </ul>                        
                        <ul>
                            <li class="sinpunto">
                                <button type="submit">Enter</button>
                            </li>
                        </ul>
                    </form>
                </td>
                <td>
                    <h2>Crear Proveedor o Invitado Nuevo</h2>
                    <form name="visitante" action="/nuevo/crearvisitante" method="post">
                        <ul>
                            <li class="sinpunto">
                                <label for="Nombre_Visitante">Nombre</label>
                                <input type="text" id="Nombre_Visitante" name="Nombre_Visitante">
                            </li>
                        </ul>
                        <ul>
                            <li class="sinpunto">
                                <label for="Documento_Visitante">Documento</label>
                                <input type="text" id="Documento_Visitante" name="Documento_Visitante">                                                                
                            </li>
                        </ul>
                        <ul>
                            <li class="sinpunto">
                                <label for="Tipo_Visitante">Tipo</label>
                                <select name="Tipo_Visitante" id="Tipo_Visitante">
                                    <option value="proveedor">proveedor</option>
                                    <option value="invitado">invitado</option>
                                </select>
                            </li>
                        </ul>                         
                        <ul>
                            <li class="sinpunto">
                                <button type="submit" name="">Enter</button>
                            </li>
                        </ul>
                    </form>
                </td>
            </tr>
        </table>
    </center>
</body>
</html>