{% include'cabecera.html' %}
<body>
    <center>
        <table cellspacing="100">
            <tr>
                <td>
                    <h2>Salida de Empleados</h2>
                    <form action="/salida/saempleado" method="post">
                        <ul>
                            <li class="sinpunto">
                                <label for="Documento_Empleado">Documento</label>
                                <input type="text" id="Documento_Empleado" name="Documento_Empleado">
                            </li>
                        </ul> 
                        <ul>
                            <li class="sinpunto">
                                <button type="submit">Enter</button>
                            </li>
                        </ul>
                    </form>
                </td>
                <td>
                    <h2>Salida de Proveedor o Invitado</h2>
                    <form action="/salida/savisitante" method="post">
                        <ul>
                            <li class="sinpunto">
                                <label for="Documento_visitante">Documento</label>
                                <input type="text" id="Documento_visitante" name="Documento_visitante">
                            </li>
                        </ul>
                        <ul>
                            <li class="sinpunto">
                                <button type="submit">Enter</button>
                            </li>
                        </ul>
                    </form>
                </td>
            </tr>
        </table>
    </center>
</body>
</html>